$dark : #0b2144;
$medium : #475b7c;
$light : #ced4dd;
$contrast : #d0d306;

#display-user {
  display: none;
}

td, th {
 border: 3px solid $dark;
 color: $dark;
 th {
   background-color: $contrast;
 }
 td {
   background-color: white;
 }
}

h1, h3 {
  color: $dark;
}

h4 {
  color: $medium;
}
